<% notice %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohidited this <%= @user.name %> from being saved;</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<h3><%= @user.name %>のプロフィール</h3>

<%= form_with(model:@user, local: true) do |form| %>
<div class="field">
    <%= form.label :MyImage %>
    <% if @user.image.present? %>
      <%= image_tag @user.image.url %>
    <% else %>
      <%= image_tag 'No.jpg' %>
    <% end %>
    <% if @user == current_user%>
    <p><%= form.file_field :image, required: true %></p>
  </div>
<div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
<% end %>
<%= link_to '戻る', user_path, class: "btn-primary" %>