<!DOCTYPE html>
<html>
  <head>
    <title>InsCloneApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">インスタもどき</a>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}")%>
    <% end %>
    <div class="row">
      <div class="col-2 border border-primary">
        <div class="sidebar_fixed">
          <% if logged_in? %>
            <% if @user == current_user%>
              <p class="btn btn-secondary"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></p>
              <p><%= link_to 'みんなの写真投稿一覧', pictures_path, class: "btn btn-primary"%></p>
            <% else %>
              <p class="btn btn-info"><%= link_to "プロフィール", user_path(current_user.id) %></p>
              <p class="btn btn-secondary"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></p>
              <p><%= link_to 'みんなの写真投稿一覧', pictures_path, class: "btn btn-primary"%></p>
            <% end %>
          <% else %>
              <p class="btn btn-success"><%= link_to "サインアップ", new_user_path %></p>
              <p class="btn btn-info"><%= link_to "ログイン", new_session_path %></p>
          <% end %>
          <% if logged_in?%>
          <p class="btn btn-success"><%= link_to '新しい画像を投稿する', new_picture_path %></p>
          <p class="btn btn-info"><%= link_to '自分の画像一覧へ', user_path(current_user) %></p>
          <p class="btn btn-warning"><%= link_to 'お気に入り画像一覧へ', favorite_path(current_user.favorites) %></p>
          <% end %>
        </div>
      </div>
      <div class="col text-center ">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
